body {
  margin: 0;
  padding: 0;
}

ul > li {
  display: inline-block;
  margin-right: 2em;
  border-bottom: 2px dashed darkcyan;
  border-width: 5px 10px;
  border-style: dashed dotted;
  border-color: aquamarine aqua;
}

p {
  /* margin: 8px; */
  /* margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 8px;
  margin-right: 8px; */
  /* 상,하:8px / 좌,우:16px */
  /* margin: 8px 16px; */
  /* 시계방향 - 상:8px, 우:6px, 하:12px, 좌:(마주보는-우) 6px */
  margin: 8px 6px 12px;

  /* padding: 10px; */
  /* padding: 10px 8px; */
  /* padding: 10px 8px 6px; */
  padding: 10px 8px 6px 4px;

  display: inline-block;
}
