ul {
  /* disc(기본), circle, square */
  /* list-style: circle; 비어있는 동그라미 */
  /* list-style: disc; 기본 */
  list-style: square;
}

ul > li:first-child {
  list-style: "✓";
}

ol {
  /* list-style: lower-alpha; */
  /* list-style: upper-alpha; */
  /* list-style: lower-roman; */
  /* upper-alpha(lower-alpha) 
     upper-roman(lower-roman)
     decimal
  */
  list-style: decimal;
}

ul {
  list-style: none;
}
