/* slide
border
width 800px
height 300px
가운데 정렬
안쪽여백 10
*/

/* a
배경색 #333
줄높이 50
글자색 흰색
white-space: nowrap; => 공백이 있을 때 엔터(x)
*/

.slide {
  border: 2px solid green;
  width: 800px;
  height: 500px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.slide img {
  width: 300px;
  height: 200px;
  float: left;
}

.controls a {
  background-color: #333;
  line-height: 50px;
  color: white;
  position: absolute;
  top: calc(50% - 25px);
  white-space: nowrap;
}

.prev {
  right: 100%;
}

.next {
  left: 100%;
}
