* {
  margin: 0;
}

#wrapper {
  display: grid;
  gap: 12px;
}

#wrapper > * {
  padding: 1em;
  font-size: 1.2em;
  color: royalblue;
  font-weight: bold;
  background-color: lightblue;
}

header {
  min-width: 80px;
  position: relative;
}

#menu {
  line-height: 64px;
  color: #333;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  height: 64px;
  cursor: pointer;
}

nav ul {
  padding-left: 0.5em;
}

nav li {
  display: inline-block;
  margin-right: 1em;
  color: #333;
}

main div {
  margin: 1em;
  padding: 1em;
  height: 67vh;
  color: #333;
  font-weight: normal;
  background-color: yellow;
}

footer {
  height: 200px;
}

@media screen and (max-width: 768px) {
  /* nav 숨기기 */
  nav {
    display: none;
  }

  /* 메뉴 글자에 마우스를 올리면 new 보여주기(오른쪽정렬) */
  #menu:hover + nav {
    /* display: inline-block; */
    display: inherit; /* 처음 속성 */
    text-align: right;
  }

  #menu:hover + nav li {
    display: block;
    padding: 0.6em;
  }
}

@media screen and (min-width: 769px) {
  /* 메뉴 글자 숨기기 */
  #menu {
    display: none;
  }

  /* 부모 gird
  컬럼 지정 : grid-template-colums
  */
  #wrapper {
    grid-template-columns: 200px 1fr;
  }

  /* 자식 gird
       grid-colums
  */
  header {
    grid-column: 1 / -1;
  }

  footer {
    grid-column: 1 / -1;
  }
}
