/* 1. 모든 요소 선택 : *     */
* {
  font-weight: bold;
  color: darkorange;
}

/* 2. 태그 선택자 */
p {
  color: olivedrab;
}

/* 3. 클래스 선택자 */
/* 태그.클래스 */
p.blue {
  color: lightblue;
}

.blue.dark {
  color: mediumblue;
}

p.blue.dark {
  color: darkblue;
}

/* 4. 아이디 선택자 */
/* 1~4중에 아이디 선택자가 우선순위 제일 높음 */
#red {
  color: tomato;
}
